[core]
    filemode = false
    pager = cat
[user]
    name = drm2
    email = davidrmyersii@gmail.com
[hub]
    host = github.com
[alias]
    adda = add -A -v
    comm = commit -v
    hist = log --graph --pretty=format:'%C(auto)%h [%an] (%cr) -%d %s' --date=relative --max-count=20
    history = log --graph --pretty=format:'%C(auto)%h [%an] (%cr) -%d %s' --date=relative
    stat = status -vv
[push]
	default = simple
