[user]
    name = David R. Myers II
    email = drmyers@covermymeds.com
    hosts = git.innova-partners.com
[hub]
    host = git.innova-partners.com
[core]
    filemode = false
    pager = cat
    hooksPath = ~/.git-templates/hooks
[alias]
    adda = add -A -v
    comm = commit -v
    hist = log --graph --pretty=format:'%C(auto)%h [%an] (%cr) -%d %s' --date=relative --max-count=20
    history = log --graph --pretty=format:'%C(auto)%h [%an] (%cr) -%d %s' --date=relative
    stat = status -vv
[push]
    default = simple
[init]
    templatedir = ~/.git-templates
