[alias]
  a = !: git add && ~/.dotfiles/git/git-a.zsh
  aa = !: git add && ~/.dotfiles/git/git-aa.zsh
  age = !: git for-each-ref && ~/.dotfiles/git/git-age.zsh
  alias = !~/.dotfiles/git/git-alias.zsh
  aliases = !~/.dotfiles/git/git-aliases.zsh
  amend = !: git commit && ~/.dotfiles/git/git-amend.zsh
  c = !: git commit && ~/.dotfiles/git/git-c.zsh
  co = !: git checkout && ~/.dotfiles/git/git-co.zsh
  coh = !: git checkout && ~/.dotfiles/git/git-coh.zsh
  com = !: git checkout && ~/.dotfiles/git/git-com.zsh
  copr = !~/.dotfiles/git/git-copr.zsh
  d = !: git diff && ~/.dotfiles/git/git-d.zsh
  dh = !: git diff && ~/.dotfiles/git/git-dh.zsh
  dm = !: git diff && ~/.dotfiles/git/git-dm.zsh
  dn = !: git diff && ~/.dotfiles/git/git-dn.zsh
  dnh = !: git diff && ~/.dotfiles/git/git-dnh.zsh
  dnm = !: git diff && ~/.dotfiles/git/git-dnm.zsh
  dnwc = !~/.dotfiles/git/git-dnwc.zsh
  echo = !~/.dotfiles/git/git-echo.zsh
  f = !: git fetch && ~/.dotfiles/git/git-f.zsh
  fwl = !: git force && ~/.dotfiles/git/git-fwl.zsh
  l = !: git log && ~/.dotfiles/git/git-l.zsh
  ls = !: git ls-files && ~/.dotfiles/git/git-ls.zsh
  lsa = !~/.dotfiles/git/git-lsa.zsh
  lsap = !~/.dotfiles/git/git-lsap.zsh
  lsu = !: git ls-files && ~/.dotfiles/git/git-lsu.zsh
  main = !~/.dotfiles/git/git-main.zsh
  rbi = !: git rebase && ~/.dotfiles/git/git-rbi.zsh
  rbim = !: git rebase && ~/.dotfiles/git/git-rbim.zsh
  rbm = !: git rebase && ~/.dotfiles/git/git-rbm.zsh
  rhh = !: git reset && ~/.dotfiles/git/git-rhh.zsh
  rsh = !: git reset && ~/.dotfiles/git/git-rsh.zsh
  s = !: git status && ~/.dotfiles/git/git-s.zsh
  up = !: git push && ~/.dotfiles/git/git-up.zsh
  wt = !: git worktree && ~/.dotfiles/git/git-wt.zsh
  wta = !: git worktree && ~/.dotfiles/git/git-wta.zsh
  stale = !~/.dotfiles/git/git-stale.zsh
  bp = !~/.dotfiles/git/git-bp.zsh
  ferry = !~/.dotfiles/git/git-ferry.zsh
  clone-all = !~/.dotfiles/git/git-clone-all.zsh
  flush = !~/.dotfiles/git/git-flush.zsh
  rbc = !: git rebase && ~/.dotfiles/git/git-rbc.zsh
  rba = !: git rebase && ~/.dotfiles/git/git-rba.zsh
  ds = !: git diff && ~/.dotfiles/git/git-ds.zsh
	frbm = !~/.dotfiles/git/git-frbm.zsh
[commit]
  gpgsign = true
[core]
  editor = vim
  pager = diffr --colors added:none:foreground:0,0xdd,0 --colors refine-added:none:foreground:0,0xdd,0:background:0x10,0x30,0x10 --colors removed:none:foreground:0xdd,0,0 --colors refine-removed:none:foreground:0xdd,0,0:background:0x30,0x10,0x10 | less -R
[gpg]
  program = gpg
[pull]
  rebase = true
[tag]
  gpgsign = true
[user]
  signingkey = 39172BB67E6A96CC
  email = davidrmyersii@gmail.com
  name = David R. Myers
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[init]
  defaultBranch = main
[interactive]
  diffFilter = diffr --colors added:none:foreground:0,0xdd,0 --colors refine-added:none:foreground:0,0xdd,0:background:0x10,0x30,0x10 --colors removed:none:foreground:0xdd,0,0 --colors refine-removed:none:foreground:0xdd,0,0:background:0x30,0x10,0x10
